.nav {
  padding: 0 1rem;
    color: #fff;
    grid-area: n;
    background: #69289f;
}
.item {
    font-size: 1.6rem;
    font-weight: 700;
    padding: 1rem 0;
    text-shadow: 0px 4px 11px #000000;

}
.item.active{
  color: #fce309;
}
