.item{
    border-radius: 10px;
    padding: 1rem;
    border: 4px solid #69289f;
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
}
.message{
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    margin-left: 1rem;
}
.item img{
    width: 50px;
}
.like {
    display: flex;
    align-items: center;
    flex-direction: column;
}
.likeImage{
    width: 40px;
    height: 40px;
}
.likeImage img{
    width: 100%;
    cursor: pointer;
}
.likesCount{
    color: #69289f;
    margin-top: 5px;
    font-weight: 700;
    font-size: 0.7rem;
    padding: 3px 6px;
    border-radius: 20%;
    background-color: #eb66f785;
}
