* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    font-size: 14px;
    background-color: #252525;
}
a:active,
a:hover,
a {
    text-decoration: none;
    cursor: pointer;
}


.app-wrapper {
    padding: 0 20px;
    width: 1240px;
    margin: 0 auto;
    display: grid;
    grid-template-areas:
        "h h"
        "n c";
    grid-template-rows: 80px 1fr;
    grid-template-columns: 2fr 10fr;
    /* grid-gap: 10px; */
}
.app-wrapper-content {
  grid-area: c;
  background-color: #fff;
  font-size: 1.2rem;
}
